.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .g-signin2 {
    font-size: initial;
}

.header .abcRioButtonContentWrapper {
    background-color: var(--gold-light-5);
}

.content.admin .admin-nav {
    margin: -1em -1em 1em -1em;
    padding: 3px 0;
    border-bottom: 1px solid #aaa;
}

.content.admin .admin-nav a {
    border: 1px solid transparent;
    padding: 2px 1em;
}

.content.admin .admin-nav a:hover {
    text-decoration: none;
    background-color: var(--gold-light-4);
    border-color: var(--gold-dark-4);
}

body.submitting .content.admin a {
    cursor: wait;
}

.content.admin .create-new {
    font-style: italic;
}

.content.admin .input-form {
}

.content.admin .input-form .input-row {
    display: flex;
    flex-direction: row;
    padding: 2px 1em;
}

.content.admin .input-form .input-row .label {
    width: 10em;
}

.content.admin .input-form .input-row input[type=text] {
    width: 20em;
    font-family: "Roboto", sans-serif;
    padding: 1px 0.5em;
}

.content.admin .input-form .input-row input[type=number] {
    width: 5em;
    font-family: "Roboto", sans-serif;
    padding: 1px 0.5em;
}

.content.admin .input-form .input-row .readonly-value {
    width: 20em;
    font-family: "Roboto", sans-serif;
    padding: 1px 0.5em;
}

.content.admin .input-form .spacer-row {
    width: 80%;
    margin: 1em auto;
    border-bottom: 1px solid #888;
}

.content.admin .input-form .submit-row {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.content.admin .input-form .submit-row input {
    margin: 2px auto;
    padding: 2px 0.5em;
    font-size: 110%;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(var(--gold-light-3), var(--gold-light-1));
    border: 1px solid var(--gold-dark-3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.content.admin .input-form.submitting .submit-row input {
    cursor: wait;
    background: linear-gradient(#aaa, #ccc);
    color: #444;
}

.content.admin .submit-row.confirming {
    justify-content: center;
}

.content.admin .submit-row.confirming input[type=submit] {
    margin: 2px 0.5em;
}

.content.admin .submit-row.confirming input[type=submit].confirm-button {
    background: linear-gradient(#3d6, #2b4);
}

.content.admin .submit-row.confirming input[type=submit].cancel-button {
    background: linear-gradient(#d55, #b33);
}

.content.admin .popup-list {
    display: none;
}

.content.admin .popup-list.active {
    display: block;
    background: white;
    position: absolute;
    border: 1px solid #444;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.content.admin .popup-list.active a {
    display: block;
    cursor: pointer;
    padding: 1px 1em;
}

.content.admin .popup-list.active a.popup-selection-new {
    font-style: italic;
    border-top: 1px dotted #777;
    margin-top: 0.5em;
}

.content.admin .popup-list.active a.popup-selection-none {
    font-style: italic;
}

.content.admin .popup-list.active a:hover {
    background-color: var(--gold-light-5);
}

.content.admin .player-list.active {
    margin-top: 1.5em;
}

.content.admin .standings .edit-team-link {
    font-size: 80%;
}

.content.admin .standings .submit-row {
    margin: 0.5em 0;
}

.content.admin .standings .submit-row:hover {
    background: white;
}

.content.admin .standings input[type=text] {
    font-size: 100%;
    font-family: "Roboto", sans-serif;
}

.content.admin .standings input[type=submit] {
    margin: 2px auto;
    padding: 2px 0.5em;
    font-size: 110%;
    font-family: "Roboto", sans-serif;
    background: linear-gradient(var(--gold-light-3), var(--gold-light-1));
    border: 1px solid var(--gold-dark-3);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.content.admin .standings input[type=submit].submitting {
    cursor: wait;
    background: linear-gradient(#aaa, #ccc);
    color: #444;
}

.content.admin .qp-match-container {
    margin-top: 1em;
}

.content.admin .match-container {
    display: flex;
    flex-direction: column;
}

.content.admin .match-container .info {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 0 0.5em 0;
}

.content.admin .match-container .info .team {
    flex-basis: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    margin: 0 1em;
    padding: 2px 0.5em;
    border: 1px solid #444;
}

.content.admin .match-container .info .team .team-name {
    flex-basis: 0;
    flex-grow: 1;
    font-size: 125%;
}

.content.admin .match-container .info .team .score {
    flex-grow: 0;
    width: 3em;
    font-size: 125%;
    text-align: right;
}

.content.admin .match-container .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content.admin .match-container .buttons .button {
    display: block;
    font-size: 200%;
    font-weight: bold;
    height: 1em;
    width: 1em;
    line-height: 1em;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    user-select: none;
}

.content.admin .match-container .buttons .button.match-complete {
    width: auto;
    font-size: 150%;
    height: 1.33em;
    line-height: 1.33em;
    vertical-align: middle;
    padding: 0 1em;
    background: linear-gradient(#ddd, #bbb);
    border-color: #888 #222 #222 #888;
}

.content.admin .match-container .buttons .button.match-complete:hover {
    background: linear-gradient(#eee, #ccc);
}

.content.admin .match-container .buttons .button.match-complete:active {
    border-color: #222 #888 #888 #222;
}

.content.admin .match-container .info .blue-team, .content.admin .match-container .buttons .button.blue {
    background: linear-gradient(var(--blue-light-1), var(--blue));
}

.content.admin .match-container .buttons .button.blue {
    border-color: var(--blue-dark-1) var(--blue-dark-5) var(--blue-dark-5) var(--blue-dark-1);
}

.content.admin .match-container .buttons .button.blue:hover {
    background: linear-gradient(var(--blue-light-2), var(--blue-light-1));
}

.content.admin .match-container .buttons .button.blue:active {
    border-color: var(--blue-dark-5) var(--blue-dark-1) var(--blue-dark-1) var(--blue-dark-5);
}

.content.admin .match-container .info .gold-team, .content.admin .match-container .buttons .button.gold {
    background: linear-gradient(var(--gold-light-1), var(--gold));
}

.content.admin .match-container .buttons .button.gold {
    border-color: var(--gold-dark-1) var(--gold-dark-5) var(--gold-dark-5) var(--gold-dark-1);
}

.content.admin .match-container .buttons .button.gold:hover {
    background: linear-gradient(var(--gold-light-2), var(--gold-light-1));
}

.content.admin .match-container .buttons .button.gold:active {
    border-color: var(--gold-dark-5) var(--gold-dark-1) var(--gold-dark-1) var(--gold-dark-5);
}

.content.admin .event-results .result-row.admin-match-link {
    cursor: pointer;
}

.content.admin .event-quickplay-teams {
    display: flex;
    flex-direction: row;
}

.content.admin .event-quickplay-teams .quickplay-team {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #777;
    border-width: 1px 0 1px 1px;
}

.content.admin .event-quickplay-teams .quickplay-team:last-child {
    border-width: 1px;
}

.content.admin .event-quickplay-teams .quickplay-team.blue div {
    background-color: var(--blue-light-4);
}

.content.admin .event-quickplay-teams .quickplay-team.gold div {
    background-color: var(--gold-light-4);
}

.content.admin .event-quickplay-teams .quickplay-team .team-title {
    font-weight: bold;
    border-bottom: 1px solid #777;
}

.content.admin .event-quickplay-teams .quickplay-team.blue div.team-title {
    background: linear-gradient(var(--blue-light-1), var(--blue-light-4));
}

.content.admin .event-quickplay-teams .quickplay-team.gold div.team-title {
    background: linear-gradient(var(--gold-light-1), var(--gold-light-4));
}

.content.admin .event-quickplay-teams .quickplay-team div {
    padding: 2px 7px;
}

.content.admin .tournament-active-matches {
}

.content.admin .tournament-active-matches .cabinet {
    display: flex;
    flex-direction: row;
}

.content.admin .tournament-active-matches .cabinet .cabinet-name {
    width: 10em;
}

.content.admin .tournament-active-matches .cabinet .active-match {
    cursor: pointer;
}

.content.admin .tournament-active-matches .cabinet .active-match:hover {
    color: #444;
    text-decoration: underline;
}

