.header {
    font-size: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.footer {
    font-size: 75%;
}

.header img {
    display: none;
}

.title {
    font-size: 125%;
}

.subtitle {
    font-size: 100%;
    padding-left: 0.5em;
}

.content {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 1em 0;
}

.standings {
    font-size: 75%;
    border-width: 1px 0;
}

.standings .cell {
    padding: 2px 0.25em;
    white-space: nowrap;
    overflow: hidden;
}

.standings .cell:first-child {
    padding-left: 1em;
}

.standings .cell:last-child {
    padding-right: 1em;
}

.standings .header-row .cell.numeric {
    height: 1em;
    overflow: hidden;
}

.standings .cell.numeric {
    width: 4em;
}

.event-standings .player-list-row {
    padding-left: 1em;
}

.event-results {
    font-size: 75%;
}

.event-results .result-row.current-match {
    flex-direction: column;
}

.event-results .result-row .result img {
    display: none;
}

.event-results .result-row .result .score {
    width: 2em;
}

.season-week-list {
    font-size: 75%;
}

.season-standings-link {
    font-size: 75%;
    padding-left: 0.5em;
}

.content.admin .admin-nav {
    padding: 3px 1em;
}

.content.admin .admin-nav a {
    padding: 2px 0.5em;
}

.content.admin .input-form .input-row .label {
    width: 8em;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 1em 0 0;
}

.content.admin .input-form .input-row input[type=text], .content.admin .input-form .input-row input[type=number], .content.admin .input-form .input-row .readonly-value {
    flex-grow: 1;
    flex-basis: 0;
}

.content.admin .match-container .info .team {
    margin: 0 0.25em;
}

.content.admin .match-container .info .team .team-name, .content.admin .match-container .info .team .score {
    font-size: 100%;
}

.content.admin .match-container .buttons .button {
    font-size: 150%;
}

.content.admin .match-container .buttons .button.match-complete {
    font-size: 100%;
    height: 1.5em;
    line-height: 1.5em;
}
