body {
    width: 1280px;
    height: 720px;
    background: url("/static/obs_background.png") no-repeat;
    font-family: "Roboto", sans-serif;
}

.team-name {
    width: 220px;
    height: 30px;
    position: absolute;
    top: 610px;
    text-align: center;
    font-size: 22px;
}

.team-score {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 673px;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}

.team-name.blue {
    left: 235px;
}

.team-score.blue {
    left: 235px;
}

.team-name.gold {
    left: 610px;
}

.team-score.gold {
    left: 796px;
}
