:root {
    --gold: #ffb330;
    --gold-light-1: #ffbf52;
    --gold-light-2: #ffcc74;
    --gold-light-3: #ffd896;
    --gold-light-4: #ffe5b8;
    --gold-light-5: #fff1da;
    --gold-dark-1: #ffa70e;
    --gold-dark-2: #eb9500;
    --gold-dark-3: #c97f00;
    --gold-dark-4: #a76a00;
    --gold-dark-5: #855400;

    --blue: #24e3c6;
    --blue-light-1: #42e7ce;
    --blue-light-2: #60ebd6;
    --blue-light-3: #7eefde;
    --blue-light-4: #9cf2e5;
    --blue-light-5: #bbf6ed;
    --blue-dark-1: #1acbb0;
    --blue-dark-2: #16ad96;
    --blue-dark-3: #128f7c;
    --blue-dark-4: #0e7162;
    --blue-dark-5: #0b5348;
}

body {
    font-family: "Roboto", sans-serif;
    width: 1280px;
    height: 720px;
    font-size: 150%;
}

.page {
    height: 720px;
    display: flex;
    flex-direction: column;
}

.game-summary {
    margin: 20px 15%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.game-summary .victory-image {
    width: 75px;
    height: 75px;
}

.game-summary .victory-description {
    flex-grow: 1;
    text-align: center;
    font-size: 35px;
    padding: 20px;
    font-weight: bold;
}

.game-summary .game-summary-rows {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.game-summary .row {
    display: flex;
    flex-direction: row;
}

.game-summary .row .title {
    width: 10em;
}

.stats {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 0;
}

.stats .column {
    margin: 0 20px;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.stats .column .stats-box {
    padding: 10px;
    margin: 20px 0;
    flex-grow: 1;
    flex-basis: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}

.stats .column:first-child {
    margin-left: 0;
}

.stats .column:last-child {
    margin-right: 0;
}

.stats .column .stats-box:first-child {
    margin-top: 0;
}

.stats .column .stats-box:last-child {
    margin-bottom: 0;
}

.team-stats .row {
    display: flex;
    flex-direction: row;
}

.team-stats .row .title {
    flex-grow: 1;
    flex-basis: 0;
    margin: 5px;
}

.team-stats .row .blue, .team-stats .row .gold {
    width: 3em;
    text-align: center;
    font-weight: bold;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    margin: 5px;
}

.team-stats .row .blue {
    background-color: var(--blue-light-1);
}

.team-stats .row .gold {
    background-color: var(--gold-light-1);
}

.top-players .row {
    display: flex;
    flex-direction: row;
}

.top-players .title {
    flex-grow: 1;
    flex-basis: 0;
}

.top-players .count {
    width: 3em;
    text-align: center;
    font-weight: bold;
}

.top-players .players {
    width: 4em;
    text-align: right;
}

.top-players .players img {
    height: 30px;
}

.charts {
    display: flex;
    flex-direction: column;
}

.charts .chart-box {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 5px;
}

.charts .chart-box .label {
    width: 30px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
}

.charts .chart-box .chart {
    flex-grow: 1;
    flex-basis: 0;
}
