@import url("/static/mobile.css") screen and (max-width: 960px);

:root {
    --gold: #ffb330;
    --gold-light-1: #ffbf52;
    --gold-light-2: #ffcc74;
    --gold-light-3: #ffd896;
    --gold-light-4: #ffe5b8;
    --gold-light-5: #fff1da;
    --gold-dark-1: #ffa70e;
    --gold-dark-2: #eb9500;
    --gold-dark-3: #c97f00;
    --gold-dark-4: #a76a00;
    --gold-dark-5: #855400;

    --blue: #24e3c6;
    --blue-light-1: #42e7ce;
    --blue-light-2: #60ebd6;
    --blue-light-3: #7eefde;
    --blue-light-4: #9cf2e5;
    --blue-light-5: #bbf6ed;
    --blue-dark-1: #1acbb0;
    --blue-dark-2: #16ad96;
    --blue-dark-3: #128f7c;
    --blue-dark-4: #0e7162;
    --blue-dark-5: #0b5348;
}

html {
    height: 100%;
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    background-color: var(--gold-light-4);
    display: flex;
    flex-direction: column;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #444;
    text-decoration: underline;
}

.header {
    padding: 3px 1em;
    background: linear-gradient(var(--gold-dark-1), var(--gold-dark-2));
    font-size: 200%;
    font-weight: bold;
    font-family: "Roboto Slab";
    border-width: 0 0 1px 0;
    border-color: black;
    border-style: solid;
    flex-grow: 0;
    flex-shrink: 0;
}

.footer {
    padding: 3px 1em;
    background: linear-gradient(var(--gold-dark-1), var(--gold-dark-2));
    border-width: 1px 0 0 0;
    border-color: black;
    border-style: solid;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 85%;
    text-align: right;
}

.footer span {
    color: #444;
}

.footer span.spacer {
    margin: 0 0.5em;
}

.footer a {
    color: #222;
}

.footer a:hover {
    color: black;
}

.header img {
    height: 1.5em;
    vertical-align: bottom;
}

.header a {
    line-height: 1.5em;
    vertical-align: middle;
}

.content {
    width: 800px;
    border-width: 0 1px;
    border-color: black;
    border-style: solid;
    background: white;
    margin: 0 auto;
    padding: 1em 2em;
    flex-grow: 1;
    box-shadow: 3px 0 2px rgba(0, 0, 0, 0.5);
}

.title {
    border-bottom: 1px solid #444;
    font-size: 150%;
    font-family: "Roboto Slab", sans-serif;
    margin: 0 1em 1em 1em;
}

.subtitle {
    font-weight: bold;
    font-size: 125%;
    margin: 1em 0;
}

.title a, .subtitle a, .header a {
    color: black;
    text-decoration: none;
}

.standings {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gold-dark-4);
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.standings .header-row {
    background: linear-gradient(var(--gold-light-4), var(--gold-light-2));
    font-weight: bold;
    border-bottom: 1px solid var(--gold-dark-3);
    padding: 2px 0;
}

.standings .subtotal-row {
    background-color: var(--gold-light-4);
    font-weight: bold;
    margin-top: 0.5em;
}

.standings .row.subtotal-row:hover {
    background-color: var(--gold-light-3);
}

.standings .row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.standings .row:hover, .standings .row-group:hover {
    background-color: var(--gold-light-5);
}

.standings .cell {
    flex-grow: 1;
    flex-basis: 0;
    padding: 4px 0.5em;
    line-height: 1em;
}

.standings .header-row .cell.numeric {
    text-align: center;
}

.standings .cell.numeric {
    flex-grow: 0;
    flex-basis: auto;
    text-align: right;
    width: 7em;
}

.standings .player-list-row {
    font-size: 80%;
    padding-left: 3em;
    margin-bottom: 0.5em;
    width: auto;
    display: block;
}

.standings .player-list-row a {
    display: inline;
    font-style: italic;
}

.event-quickplay-teams {
    display: flex;
    flex-direction: row;
}

.event-quickplay-teams .quickplay-team {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: #777;
    border-width: 1px 0 1px 1px;
}

.event-quickplay-teams .quickplay-team:last-child {
    border-width: 1px;
}

.event-quickplay-teams .quickplay-team.blue div {
    background-color: var(--blue-light-4);
}

.event-quickplay-teams .quickplay-team.gold div {
    background-color: var(--gold-light-4);
}

.event-quickplay-teams .quickplay-team .team-title {
    font-weight: bold;
    border-bottom: 1px solid #777;
    display: flex;
    flex-direction: row;
}

.event-quickplay-teams .quickplay-team .team-title .team-name {
    flex-grow: 1;
    background: transparent;
}

.event-quickplay-teams .quickplay-team .team-title .team-score {
    width: 1em;
    background: transparent;
}

.event-quickplay-teams .quickplay-team.blue div.team-title {
    background: linear-gradient(var(--blue-light-1), var(--blue-light-4));
}

.event-quickplay-teams .quickplay-team.gold div.team-title {
    background: linear-gradient(var(--gold-light-1), var(--gold-light-4));
}

.event-quickplay-teams .quickplay-team div {
    padding: 2px 7px;
}

.event-results-header {
    margin: 1em 0 0.5em 1em;
    font-weight: bold;
}

.event-results {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #888;
}

.event-results.qp {
    border-width: 0 1px;
}

.event-results a:hover {
    color: black;
    text-decoration: none;
}

.event-results .result-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #888;
}

.event-results.qp .result-row:not(.player-list-row) {
    border-top: 1px solid #888;
}

.event-results .result-row.current-match .result {
    padding: 0;
    height: 50px;
}

.event-results .result-row.current-match .result div {
    vertical-align: middle;
    line-height: 50px;
    margin: 0 1em;
    font-size: 120%;
}

.event-results .result-row.current-match .result.blue {
    background: linear-gradient(var(--blue-light-2), var(--blue));
}

.event-results .result-row.current-match .result.gold {
    background: linear-gradient(var(--gold-light-2), var(--gold));
}

.event-results .result-row .result {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 4px 1em;
    line-height: 1em;
}

.event-results .result-row .result.blue {
    background: linear-gradient(var(--blue-light-5), var(--blue-light-3));
    border-right: 1px solid #888;
}

.event-results .result-row .result.gold {
    background: linear-gradient(var(--gold-light-5), var(--gold-light-3));
}

.event-results .result-row .result.winner {
    font-weight: bold;
}

.event-results .result-row .result .team {
    flex-grow: 1;
}

.event-results .result-row .result .score {
    width: 3em;
    text-align: right;
}

.event-results .result-row.player-list-row {
    margin-bottom: 1em;
    font-size: 70%;
    font-style: italic;
}

.event-results .result-row.player-list-row .result {
    overflow: hidden;
}

.event-results .result-row.player-list-row .result a {
    white-space: nowrap;
}

.back-links {
    margin-top: 2em;
}

.game-result {
    border: 1px solid #888;
    padding: 3px 1em;
    margin: 1em;
}

.game-result.winner-blue {
    background: linear-gradient(var(--blue-light-2), var(--blue));
}

.game-result.winner-gold {
    background: linear-gradient(var(--gold-light-2), var(--gold));
}

.game-result .round-num {
    font-style: italic;
}

.game-result.complete .round-num {
    margin-bottom: 0.5em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.game-result-details {
    display: flex;
    flex-direction: row;
    padding-top: 3px;
}

.game-result-details .win-type-icon {
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 100%;
}

.game-result-details .win-type-icon img {
    display: block;
    margin: auto;
}

.game-result-details .rows {
    flex-grow: 1;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.game-result-details .row {
    display: flex;
    flex-direction: row;
}

.game-result-details .row .label {
    flex-grow: 0;
    width: 10em;
}

.game-result-details .row .data {
    flex-grow: 1;
}

.game-stats {
    display: flex;
    flex-direction: row;
}

.game-stats .column {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    margin: 0 2em;
}

.game-stats .column .row {
    display: flex;
    flex-direction: row;
    margin: 0.5em 0;
}

.game-stats .column .row .label {
    flex-grow: 2;
    flex-basis: 0;
}

.game-stats .column .row .value, .game-stats .column .row .players {
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 5px;
    padding: 0 2px;
    text-align: right;
}

.game-stats .column .row .value {
    font-weight: bold;
}

.game-stats .column .row .value.blue {
    border: 1px solid #444;
    background-color: var(--blue-light-3);
}

.game-stats .column .row .value.gold {
    border: 1px solid #444;
    background-color: var(--gold-light-3);
}

.game-stats .column .row .players img {
    height: 26px;
}

.charts {
    margin-top: 2em;
}

.charts .chart-box {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 5px;
    height: 200px;
}

.charts .chart-box .label {
    width: 30px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
}

.charts .chart-box .chart {
    flex-grow: 1;
    flex-basis: 0;
}

.tournament-group-standings {
    display: flex;
    flex-direction: row;
}

.tournament-group-standings.loading {
    background: url("/static/loading.svg") center top/200px 200px no-repeat;
    height: 200px;
}

.tournament-group-standings .bracket {
    margin: 0 0.5em;
    border: 1px solid #888;
    flex-basis: 0;
    flex-grow: 1;
    background-color: var(--gold-light-5);
}

.tournament-group-standings .bracket .name {
    font-weight: bold;
    text-align: center;
    background: linear-gradient(var(--gold-light-4), var(--gold-light-2));
    padding: 3px;
    border-bottom: 1px solid #444;
}

.tournament-group-standings .bracket .row {
    display: flex;
    flex-direction: row;
}

.tournament-group-standings .bracket .row:hover {
    background-color: var(--gold-light-4);
}

.tournament-group-standings .bracket .row .team-name {
    flex-grow: 1;
    flex-basis: 0;
    padding: 3px 10px;
}

.tournament-group-standings .bracket .row .score {
    width: 3em;
    text-align: right;
    padding: 3px 10px;
    font-weight: bold;
}

#twitch-stream {
    margin-top: 1em;
    text-align: center;
}

.sortable .header-row .cell {
    cursor: pointer;
    user-select: none;
}

.sortable .header-row .cell.sorted-ascending {
    background: url("/static/arrow_up.png") no-repeat right center;
}

.sortable .header-row .cell.sorted-descending {
    background: url("/static/arrow_down.png") no-repeat right center;
}

.shopify-container {
    margin-top: 2em;
    border-top: 1px solid #888;
}

.shopify-buy-frame {
    margin: 2em auto;
}

.shopify-container .shipping-info div {
    margin: 0.5em 5em;
    font-size: 90%;
    text-align: center;
}
