{% extends "base_admin.html" %}
{% block content %}
<div class="title">Admin</div>

<div class="subtitle">Tournaments</div>
<ul>
  {% for tournament in tournaments %}
  <li><a href="/admin/tournament/{{ tournament.id }}">{{ tournament.name }}</a></li>
  {% endfor %}
  <li><a href="/admin/tournament/new" class="create-new">Create New</a></li>
</ul>

{% endblock %}
