{% extends "base_admin.html" %}
{% block content %}

<div class="subtitle">Player List</div>

<div class="standings player-standings sortable">
  <div class="row header-row">
    <div class="cell sorted-ascending">Name</div>
    <div class="cell">Last Attended</div>
    <div class="cell numeric">Attended</div>
    <div class="cell numeric">Points</div>
    <div class="cell numeric">Rating</div>
    <div class="cell numeric">Variance</div>
  </div>

  {% for player in players %}
  <div class="row data-row">
    <div class="cell"><a href="/admin/player/{{ player.id }}">{{ player.name }}</a></div>
    <div class="cell">{% if player.team_set.count() > 0 %}{{ player.team_set.order_by("-event__event_date").first().event.event_date.strftime("%Y-%m-%d") }}{% endif %}</div>
    <div class="cell numeric">{{ player.team_set.count() + player.qpplayer_set.distinct("qp_match__event_id").count() }}</div>
    <div class="cell numeric">{{ "{:0.2f}".format(results.get(player.id, {}).get("points", 0)) }}</div>
    <div class="cell numeric">{{ "{:0.2f}".format(player.rating().mu) }}</div>
    <div class="cell numeric">{{ "{:0.2f}".format(player.rating().sigma) }}</div>
  </div>
  {% endfor %}
</div>

<a href="#" class="recalculate-all-ratings">Recalculate All Ratings</a>

{% endblock %}
