{% extends "base_admin.html" %}
{% block content %}
<div class="title">Editing Event for {{ event.event_date.strftime("%Y-%m-%d") }}</div>

<input type="hidden" name="id" value="{{ event.id }}" />

<div class="subtitle">Event Details</div>
<div class="input-form">
  <div class="input-row">
    <div class="label">Event Date:</div>
    <input type="text" name="event_date" class="datepicker" value="{{ event.event_date.strftime('%Y-%m-%d') }}" />
  </div>

  <div class="input-row">
    <div class="label">Cabinet:</div>
    <select name="cabinet_id">
      <option value=""></option>
      {% for cabinet in cabinets %}
      <option value="{{ cabinet.id }}"{% if cabinet.id == event.cabinet_id %} selected="selected"{% endif %}>{{ cabinet.display_name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="input-row">
    <div class="label">Points per Round:</div>
    <input type="number" name="points_per_round" value="{{ event.points_per_round }}" />
  </div>

  <div class="input-row">
    <div class="label">Points per Match:</div>
    <input type="number" name="points_per_match" value="{{ event.points_per_match }}" />
  </div>

  <div class="input-row">
    <div class="label">Rounds to Win Match:</div>
    <input type="number" name="rounds_per_match" value="{{ event.rounds_per_match }}" />
  </div>

  <div class="input-row">
    <div class="label">Event Active:</div>
    <input type="checkbox" name="is_active" {{ 'checked="checked"' if event.is_active else '' }} />
  </div>

  {% if not event.season.is_byot %}
  <div class="input-row">
    <div class="label">Quickplay Event:</div>
    <input type="checkbox" name="is_quickplay" {{ 'checked="checked"' if event.is_quickplay else '' }} />
  </div>

  <div class="input-row">
    <div class="label">Matches per Player:</div>
    <input type="number" name="qp_matches_per_player" value="{{ event.qp_matches_per_player }}" />
  </div>
  {% endif %}

  <div class="submit-row">
    <input type="submit" class="submit-event" value="Save" />
  </div>
</div>

{% if not event.is_complete and not event.season.is_byot and event.team_set.count() == 0 %}
<div class="subtitle">{{ "Players" if event.is_quickplay else "Unassigned Players" }}</div>
<div class="input-form player-list-form event-unassigned-players">
  {% for player in event.unassigned_players.all() %}
  <div class="input-row">
    <a class="readonly-value" href="/admin/player/{{ player.id }}" player_id="{{ player.id }}">{{ player.name }}</a>
    <a class="delete-value fa fa-trash" href="#"></a>
  </div>
  {% endfor %}

  <div class="input-row">
    <input type="text" class="player-lookup" value="" /><span class="fa fa-search-plus"></span>
    <div class="player-list popup-list"></div>
  </div>
</div>
{% endif %}

{% if event.is_quickplay and event.current_qp_match() %}
{% set qp_match = event.current_qp_match() %}
<div class="subtitle">Current Match</div>

<input type="hidden" name="qp_match_id" value="{{ qp_match.id }}" />

<div class="event-quickplay-teams">
  <div class="quickplay-team blue">
    <div class="team-title">Blue Team</div>
    {% for player in qp_match.qpplayer_set.filter(team="blue") %}
    <div class="player">{{ player.player.name }}</div>
    {% endfor %}
  </div>
  <div class="quickplay-team gold">
    <div class="team-title">Gold Team</div>
    {% for player in qp_match.qpplayer_set.filter(team="gold") %}
    <div class="player">{{ player.player.name }}</div>
    {% endfor %}
  </div>
</div>

<div class="match-container qp-match-container">
  <div class="info">
    <div class="team blue-team">
      <div class="team-name">Blue Team</div>
      <div class="score">{{ qp_match.blue_score }}</div>
    </div>
    <div class="team gold-team">
      <div class="team-name">Gold Team</div>
      <div class="score">{{ qp_match.gold_score }}</div>
    </div>
  </div>

  <div class="buttons">
    <div class="button blue minus-1">-</div>
    <div class="button blue plus-1">+</div>
    <div class="button match-complete">Match Complete</div>
    <div class="button gold minus-1">-</div>
    <div class="button gold plus-1">+</div>
  </div>
</div>

{% elif event.season.is_byot %}
<div class="subtitle">Teams</div>
{% if event.team_set.count() == 0 %}
<div class="input-form event-teams">
  <div class="submit-row">
    <input type="submit" class="generate-teams" value="Generate Teams" />
  </div>
</div>
{% else %}
<div class="standings event-standings">
  <div class="row header-row">
    <div class="cell">Team Name</div>
    <div class="cell numeric">Points</div>
    <div class="cell numeric">Rounds</div>
    <div class="cell numeric">Matches</div>
  </div>

  {% for result in event.team_results() %}
  <div class="row-group">
    <div class="row data-row">
      <div class="cell">
        {{ result['team'].name }}
        <a tabindex="0" class="edit-team-link" href="/admin/team/{{ result['team'].id }}">(edit)</a>
      </div>
      <div class="cell numeric">{{ "{:0.2f}".format(result["points"]) }}</div>
      <div class="cell numeric">{{ result["rounds_won"] }}-{{ result["rounds_lost"] }}</div>
      <div class="cell numeric">{{ result["matches_won"] }}-{{ result["matches_lost"] }}</div>
    </div>

    <div class="row player-list-row">
      {% set j = joiner(",\u2002") %}
      {% for player in result["team"].players.all() %}{{ j() }}<a tabindex="0" href="/admin/player/{{ player.id }}">{{ player.name }}</a>{% endfor %}
    </div>
  </div>
  {% endfor %}

  <div class="row submit-row delete-teams-row">
    <input type="submit" class="confirm-submit delete-teams" value="Delete Teams and Matches" />
  </div>
</div>
{% endif %}

{% elif not event.is_quickplay %}
<div class="subtitle">Teams</div>
{% if event.team_set.count() == 0 %}
<div class="input-form event-teams">
  <div class="input-row">
    <div class="label">Total Players:</div>
    <div class="readonly-value numeric total-player-count">{{ event.unassigned_players.count() }}</div>
  </div>
  <div class="input-row">
    <div class="label">Number of Teams:</div>
    <input type="number" name="num_teams" value="5" />
  </div>

  <div class="submit-row">
    <input type="submit" class="generate-teams" value="Generate Teams" />
  </div>
</div>
{% else %}
<div class="standings event-standings">
  <div class="row header-row">
    <div class="cell">Team Name</div>
    <div class="cell numeric">Points</div>
    <div class="cell numeric">Rounds</div>
    <div class="cell numeric">Matches</div>
  </div>

  {% for result in event.team_results() %}
  <div class="row-group">
    <div class="row data-row">
      <div class="cell">
        <input type="text" team_id="{{ result['team'].id }}" name="team-name-{{ result['team'].id }}" value="{{ result['team'].name }}" tabindex="{{ loop.index+1 }}" />
        <a tabindex="0" class="edit-team-link" href="/admin/team/{{ result['team'].id }}">(edit)</a>
      </div>
      <div class="cell numeric">{{ "{:0.2f}".format(result["points"]) }}</div>
      <div class="cell numeric">{{ result["rounds_won"] }}-{{ result["rounds_lost"] }}</div>
      <div class="cell numeric">{{ result["matches_won"] }}-{{ result["matches_lost"] }}</div>
    </div>

    <div class="row player-list-row">
      {% set j = joiner(",\u2002") %}
      {% for player in result["team"].players.all() %}{{ j() }}<a tabindex="0" href="/admin/player/{{ player.id }}">{{ player.name }}</a>{% endfor %}
    </div>
  </div>
  {% endfor %}

  <div class="row submit-row">
    <input type="submit" class="submit-team-names" value="Save Team Names" />
  </div>

  <div class="row submit-row delete-teams-row">
    <input type="submit" class="confirm-submit delete-teams" value="Delete Teams and Matches" />
  </div>
</div>
{% endif %}
{% endif %}

{% if not event.is_quickplay %}
{% set match = event.current_match() %}
{% if match %}
<div class="subtitle">Current Match</div>

<input type="hidden" name="match_id" value="{{ match.id }}" />

<div class="match-container">
  <div class="info">
    <div class="team blue-team">
      <div class="team-name">{{ match.blue_team.name }}</div>
      <div class="score">{{ match.blue_score }}</div>
    </div>
    <div class="team gold-team">
      <div class="team-name">{{ match.gold_team.name }}</div>
      <div class="score">{{ match.gold_score }}</div>
    </div>
  </div>

  <div class="buttons">
    <div class="button blue minus-1">-</div>
    <div class="button blue plus-1">+</div>
    <div class="button match-complete">Match Complete</div>
    <div class="button gold minus-1">-</div>
    <div class="button gold plus-1">+</div>
  </div>
</div>
{% endif %}

{% if event.match_set.filter(is_complete=False).count() > 0 %}
<div class="subtitle">Remaining Matches</div>

<div class="event-results">
  {% for match in event.match_set.filter(is_complete=False).order_by("id").all() %}
  <div class="result-row admin-match-link" match_id="{{ match.id }}">
    <div class="blue result">
      <div class="blue team">{{ match.blue_team.name }}</div>
      <div class="blue score"></div>
    </div>
    <div class="gold result">
      <div class="gold team">{{ match.gold_team.name }}</div>
      <div class="gold score"></div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

{% if event.match_set.filter(is_complete=True).count() > 0 %}
<div class="subtitle">Completed Matches</div>

<div class="event-results">
  {% for match in event.match_set.filter(is_complete=True).order_by("id").all() %}
  <div class="result-row admin-match-link" match_id="{{ match.id }}">
    <div class="blue result">
      <div class="blue team">{{ match.blue_team.name }}</div>
      <div class="blue score">{{ match.blue_score }}</div>
    </div>
    <div class="gold result">
      <div class="gold team">{{ match.gold_team.name }}</div>
      <div class="gold score">{{ match.gold_score }}</div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
{% endif %}

{% endblock %}
