{% extends "base_admin.html" %}
{% block content %}
<div class="title">{% if tournament %}Editing Tournament: {{ tournament.name }}{% else %}Create New Tournament{% endif %}</div>

{% if tournament %}<input type="hidden" name="id" value="{{ tournament.id }}" />{% endif %}

<div class="subtitle">Tournament Details</div>
<div class="input-form">
  <div class="input-row">
    <div class="label">Name:</div>
    <input type="text" name="name" value="{% if tournament %}{{ tournament.name }}{% endif %}" />
  </div>

  <div class="input-row">
    <div class="label">Event Active:</div>
    <input type="checkbox" name="is_active" {{ 'checked="checked"' if tournament and tournament.is_active else '' }} />
  </div>

  <div class="submit-row">
    <input type="submit" class="submit-tournament" value="Save" />
  </div>
</div>

{% if tournament and tournament.is_active %}
<div class="subtitle">Active Matches</div>

<div class="tournament-active-matches">
  {% for cabinet in cabinets %}
  {% set match = tournament.get_active_match_by_cabinet(cabinet.id) %}
  <div class="cabinet" cabinet_id="{{ cabinet.id }}">
    <div class="cabinet-name">{{ cabinet.display_name }}</div>
    <div class="active-match">
      <div class="active-match-title">
        {% if match %}
        {{ match.bracket.name }} - {{ match.blue_team }} vs. {{ match.gold_team }}
        {% else %}
        Inactive
        {% endif %}
      </div>
      <div class="popup-list select-active-match"></div>
    </div>
  </div>
  {% endfor %}
</div>

{% endif %}

{% endblock %}
