{% extends "base.html" %}
{% block content %}

{% set current_match = event.current_qp_match() %}

<div class="title season-name"><a href="/season/{{ event.season.id }}">{{ event.season.name }}</a> - {{ event.event_date.strftime("%B %d, %Y") }}</div>

{% if current_match %}

<div class="subtitle">Current Match</div>
<div class="event-quickplay-teams">
  <div class="quickplay-team blue">
    <div class="team-title">
      <div class="team-name">Blue Team</div>
      <div class="team-score">{{ current_match.blue_score }}</div>
    </div>

    {% for player in event.current_qp_match().qpplayer_set.filter(team="blue") %}
    <div class="player">{{ player.player.name }}</div>
    {% endfor %}
  </div>
  <div class="quickplay-team gold">
    <div class="team-title">
      <div class="team-name">Gold Team</div>
      <div class="team-score">{{ current_match.gold_score }}</div>
    </div>

    {% for player in event.current_qp_match().qpplayer_set.filter(team="gold") %}
    <div class="player">{{ player.player.name }}</div>
    {% endfor %}
  </div>
</div>

{% endif %}

<div class="subtitle">Player Standings</div>

<div class="standings event-standings">
  <div class="row header-row">
    <div class="cell">Name</div>
    <div class="cell numeric">Points</div>
    <div class="cell numeric">Rounds</div>
    <div class="cell numeric">Matches</div>
  </div>

  {% for result in event.qp_player_results() %}
  <div class="row data-row">
    <div class="cell">{{ result["player"].name }}</div>
    <div class="cell numeric">{{ "{:0.2f}".format(result["points"]) }}</div>
    <div class="cell numeric">{{ result["rounds_won"] }}-{{ result["rounds_lost"] }}</div>
    <div class="cell numeric">{{ result["matches_won"] }}-{{ result["matches_lost"] }}</div>
  </div>
  {% endfor %}
</div>

{% if current_match %}

<div class="subtitle">Remaining Matches</div>
<div class="event-results remaining">
  {% for match in event.match_set.filter(is_complete=False).order_by("id").all() %}
  {% if match != current_match %}
  <div class="result-row">
    <div class="blue result">
      <div class="blue team">{{ match.blue_team.name }}</div>
      <div class="blue score"></div>
    </div>
    <div class="gold result">
      <div class="gold team">{{ match.gold_team.name }}</div>
      <div class="gold score"></div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>

<div class="subtitle">Completed Matches</div>
<div class="event-results completed">
  {% for match in event.qpmatch_set.filter(is_complete=True).order_by("id").all() %}
  <div class="result-row complete">
    <div class="blue result{% if match.blue_score > match.gold_score %} winner{% endif %}">
      <div class="blue team">Blue</div>
      <div class="blue score">{{ match.blue_score }}</div>
    </div>
    <div class="gold result{% if match.gold_score > match.blue_score %} winner{% endif %}">
      <div class="gold team">Gold</div>
      <div class="gold score">{{ match.gold_score }}</div>
    </div>
  </div>
  {% endfor %}
</div>

{% elif event.qpmatch_set.count() > 0 %}

<div class="subtitle">Match Results</div>
<div class="event-results qp">
  {% for match in event.qpmatch_set.order_by("id").all() %}
  <div class="row-group">
    <a href="/qpmatch/{{ match.id }}">
      <div class="result-row{% if match == current_match %} current-match{% elif match.is_complete %} complete{% endif %}">
        <div class="blue result{% if match.is_complete and match.blue_score > match.gold_score %} winner{% endif %}">
          <div class="blue team">Blue</div>
          <div class="blue score">{{ match.blue_score }}</div>
        </div>
        <div class="gold result{% if match.is_complete and match.gold_score > match.blue_score %} winner{% endif %}">
          <div class="gold team">Gold</div>
          <div class="gold score">{{ match.gold_score }}</div>
        </div>
      </div>
    </a>

    <div class="row result-row player-list-row">
      <div class="blue result player-list">
        {% set j = joiner(",\u2002") %}
        {% for qp_player in match.qpplayer_set.filter(team="blue") %}{{ j() }}<a href="/player/{{ qp_player.player.id }}">{{ qp_player.player.name }}</a>{% endfor %}
      </div>
      <div class="gold result player-list">
        {% set j = joiner(",\u2002") %}
        {% for qp_player in match.qpplayer_set.filter(team="gold") %}{{ j() }}<a href="/player/{{ qp_player.player.id }}">{{ qp_player.player.name }}</a>{% endfor %}
      </div>
    </div>
  </div>

  {% endfor %}
</div>

{% endif %}

<div class="back-links"><a href="/season/{{ event.season.id }}">View Season Standings</a></div>

{% endblock %}
