{% extends "base.html" %}
{% block content %}

{% set stats = game.get_postgame_stats() %}

<div class="title game-name">Game {{ game.id }} - {{ game.get_start_time_local().strftime("%B %d, %Y - %I:%M %p") }}</div>
<input type="hidden" name="game_id" value="{{ game.id }}" />

{% if game.match %}
<div class="subtitle">Event</div>
<ul>
  <li><a href="/season/{{ game.match.event.season.id }}">{{ game.match.event.season.name }}</a></li>
  <li><a href="/event/{{ game.match.event.id }}">{{ game.match.event.event_date.strftime("%B %d, %Y") }}</a></li>
  <li><a href="/match/{{ game.match.id }}">{{ game.match.blue_team.name }} vs. {{ game.match.gold_team.name }}</a></li>
</ul>
{% endif %}

{% if game.qp_match %}
<div class="subtitle">Event</div>
<ul>
  <li><a href="/season/{{ game.qp_match.event.season.id }}">{{ game.qp_match.event.season.name }}</a></li>
  <li><a href="/event/{{ game.qp_match.event.id }}">{{ game.qp_match.event.event_date.strftime("%B %d, %Y") }}</a></li>
  <li><a href="/qpmatch/{{ game.qp_match.id }}">Quickplay Match</a></li>
</ul>
{% endif %}

{% if game.tournament_match %}
<div class="subtitle">Tournament</div>
<ul>
  <li><a href="/tournament/{{ game.tournament_match.bracket.tournament.id }}">{{ game.tournament_match.bracket.tournament.name }}</a></li>
  <li><a href="/tournament/match/{{ game.tournament_match.id }}">{{ game.tournament_match.blue_team }} vs. {{ game.tournament_match.gold_team }}</a></li>
</ul>
{% endif %}

{% if stats %}

<div class="subtitle">Game Summary</div>

<div class="game-result{% if game.winning_team %} complete winner-{{ game.winning_team }}{% endif %}">
  <div class="game-result-details">
    <div class="win-type-icon">
      <img src="/static/{{ game.winning_team }}_{{ game.win_condition }}.png" />
    </div>

    <div class="rows">
      <div class="row">
        <div class="label">Winner:</div>
        <div class="data"><b>{{ game.get_winning_team_display() }}</b></div>
      </div>

      <div class="row">
        <div class="label">Map:</div>
        <div class="data">{{ game.get_map_name_display() }}</div>
      </div>

      <div class="row">
        <div class="label">Win Condition:</div>
        <div class="data">{{ game.get_win_condition_display() }}</div>
      </div>

      <div class="row">
        <div class="label">Game Time:</div>
        <div class="data">{{ game.get_game_length_str() }}</div>
      </div>
    </div>
  </div>
</div>

<div class="subtitle">Game Stats</div>

<div class="game-stats">
  <div class="column team-stats">
    {% if "kills" in stats %}
    <div class="row">
      <div class="label">Kills</div>
      <div class="value blue">{{ stats["kills"]["blue"] }}</div>
      <div class="value gold">{{ stats["kills"]["gold"] }}</div>
    </div>
    {% endif %}

    {% if "military_kills" in stats %}
    <div class="row">
      <div class="label">Military Kills</div>
      <div class="value blue">{{ stats["military_kills"]["blue"] }}</div>
      <div class="value gold">{{ stats["military_kills"]["gold"] }}</div>
    </div>
    {% endif %}

    {% if "berries" in stats %}
    <div class="row">
      <div class="label">Berries</div>
      <div class="value blue">{{ stats["berries"]["blue"] }}</div>
      <div class="value gold">{{ stats["berries"]["gold"] }}</div>
    </div>
    {% endif %}

    {% if "gate_control" in stats %}
    <div class="row">
      <div class="label">Gate Control</div>
      <div class="value blue">{{ stats["gate_control"]["blue"] }}</div>
      <div class="value gold">{{ stats["gate_control"]["gold"] }}</div>
    </div>
    {% endif %}
  </div>

  <div class="column top-players">
    {% if "most_kills" in stats %}
    <div class="row">
      <div class="label">Most Kills</div>
      <div class="value">{{ stats["most_kills"]["count"] }}</div>
      <div class="players">
        {% for player_id in stats["most_kills"]["players"] %}
        <img src="{{ game.PLAYER_IMAGES[player_id] }}" />
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if "most_military_kills" in stats %}
    <div class="row">
      <div class="label">Most Military Kills</div>
      <div class="value">{{ stats["most_military_kills"]["count"] }}</div>
      <div class="players">
        {% for player_id in stats["most_military_kills"]["players"] %}
        <img src="{{ game.PLAYER_IMAGES[player_id] }}" />
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if "most_deaths" in stats %}
    <div class="row">
      <div class="label">Most Deaths</div>
      <div class="value">{{ stats["most_deaths"]["count"] }}</div>
      <div class="players">
        {% for player_id in stats["most_deaths"]["players"] %}
        <img src="{{ game.PLAYER_IMAGES[player_id] }}" />
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if "most_berries" in stats %}
    <div class="row">
      <div class="label">Most Berries</div>
      <div class="value">{{ stats["most_berries"]["count"] }}</div>
      <div class="players">
        {% for player_id in stats["most_berries"]["players"] %}
        <img src="{{ game.PLAYER_IMAGES[player_id] }}" />
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if "most_warrior_uptime" in stats %}
    <div class="row">
      <div class="label">Most Warrior Uptime</div>
      <div class="value">{{ stats["most_warrior_uptime"]["count"] }}</div>
      <div class="players">
        {% for player_id in stats["most_warrior_uptime"]["players"] %}
        <img src="{{ game.PLAYER_IMAGES[player_id] }}" />
        {% endfor %}
      </div>
    </div>
    {% endif %}
  </div>
</div>

<div class="subtitle">Charts</div>
<div class="charts">
  <div class="chart-box">
    <div class="label">Snail Progress</div>
    <div class="chart"><canvas id="snail-chart"></canvas></div>
  </div>

  <div class="chart-box">
    <div class="label">Berries</div>
    <div class="chart"><canvas id="berry-chart"></canvas></div>
  </div>

  <div class="chart-box">
    <div class="label">Warriors Up</div>
    <div class="chart"><canvas id="warrior-chart"></canvas></div>
  </div>
</div>

{% else %}

No details available for this game.

{% endif %}

{% endblock %}
