{% extends "base.html" %}
{% block content %}

{% set event = match.event %}
{% set games = match.game_set.order_by("start_time").all() %}

<div class="title season-name"><a href="/season/{{ event.season.id }}">{{ event.season.name }}</a> - {{ event.event_date.strftime("%B %d, %Y") }}</div>

<div class="subtitle">Match Results</div>
<div class="event-results">
  <div class="result-row current-match">
    <div class="blue result">
      <img class="blue-queen" src="/static/blue_queen.png" />
      <div class="blue team">{{ match.blue_team.name }}</div>
      <div class="blue score">{{ match.blue_score }}</div>
    </div>
    <div class="gold result">
      <div class="gold team">{{ match.gold_team.name }}</div>
      <div class="gold score">{{ match.gold_score }}</div>
      <img class="gold-queen" src="/static/gold_queen.png" />
    </div>
  </div>
</div>

<div class="subtitle">Game Results</div>

{% if games %}

<div class="game-results">
  {% for game in games %}
  <div class="game-result{% if game.winning_team %} complete winner-{{ game.winning_team }}{% endif %}">
    <div class="round-num">Round {{ loop.index }} - {{ game.get_start_time_local().strftime("%I:%M %p") }} on {{ game.get_map_name_display() }}</div>

    {% if game.winning_team %}
    <div class="game-result-details">
      <div class="win-type-icon">
        <img src="/static/{{ game.winning_team }}_{{ game.win_condition }}.png" />
      </div>

      <div class="rows">
        <div class="row">
          <div class="label">Winner:</div>
          <div class="data"><b>{{ game.get_winning_team().name }}</b></div>
        </div>

        <div class="row">
          <div class="label">Win Condition:</div>
          <div class="data">{{ game.get_win_condition_display() }}</div>
        </div>

        <div class="row">
          <div class="label">Game Time:</div>
          <div class="data">{{ game.get_game_length_str() }}</div>
        </div>

        <div class="row">
          <div class="label"></div>
          <div class="data"><a href="/game/{{ game.id }}">View Game Details</a></div>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  {% endfor %}
{% else %}

<div class="no-results">Game details not available for this match.</div>

{% endif %}

<div class="back-links">
  <div><a href="/event/{{ event.id }}">View Event Results</a></div>
  <div><a href="/season/{{ event.season.id }}">View Season Standings</a></div>
</div>

{% endblock %}
