<!DOCTYPE html>

<html>
  <head>
    <title>Baltimore Killer Queen OBS Postgame Stats</title>
    <link rel="stylesheet" type="text/css" href="/static/obs_postgame.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed|Roboto+Slab" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script src="/static/obs_postgame.js"></script>
    <script>var cabinetName = "{{ cabinet_name }}";</script>
  </head>

  <body>
    <div class="page">
      <div class="game-summary">
        <div class="victory-image"></div>
        <div class="victory-description"></div>
        <div class="game-summary-rows">
          <div class="row">
            <div class="title">Game Time</div>
            <div class="value game-time"></div>
          </div>
          <div class="row">
            <div class="title">Map</div>
            <div class="value map-name"></div>
          </div>
        </div>
      </div>

      <div class="stats">
        <div class="column">
          <div class="stats-box charts">
            <div class="chart-box">
              <div class="label">Snail Progress</div>
              <div class="chart"><canvas id="snail-chart"></canvas></div>
            </div>

            <div class="chart-box">
              <div class="label">Berries</div>
              <div class="chart"><canvas id="berry-chart"></canvas></div>
            </div>

            <div class="chart-box">
              <div class="label">Warriors Up</div>
              <div class="chart"><canvas id="warrior-chart"></canvas></div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="stats-box team-stats">
            <div class="row kills">
              <div class="title">Kills</div>
              <div class="blue"></div>
              <div class="gold"></div>
            </div>

            <div class="row military_kills">
              <div class="title">Military Kills</div>
              <div class="blue"></div>
              <div class="gold"></div>
            </div>

            <div class="row berries">
              <div class="title">Berries</div>
              <div class="blue"></div>
              <div class="gold"></div>
            </div>

            <div class="row gate_control">
              <div class="title">Gate Control</div>
              <div class="blue"></div>
              <div class="gold"></div>
            </div>
          </div>

          <div class="stats-box top-players">
            <div class="row kills">
              <div class="title">Most Kills</div>
              <div class="count"></div>
              <div class="players"></div>
            </div>

            <div class="row military_kills">
              <div class="title">Most Military Kills</div>
              <div class="count"></div>
              <div class="players"></div>
            </div>

            <div class="row deaths">
              <div class="title">Most Deaths</div>
              <div class="count"></div>
              <div class="players"></div>
            </div>

            <div class="row berries">
              <div class="title">Most Berries</div>
              <div class="count"></div>
              <div class="players"></div>
            </div>

            <div class="row warrior_uptime">
              <div class="title">Best Warrior Uptime</div>
              <div class="count"></div>
              <div class="players"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
