<!DOCTYPE html>

<html>
  <head>
    <title>Baltimore Killer Queen OBS Overlay</title>
    <link rel="stylesheet" type="text/css" href="/static/obs_overlay.css" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Condensed|Roboto+Slab" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/main.js"></script>
    <script src="/static/obs_overlay.js"></script>
    {% if cabinet_name %}
    <script>var cabinetName = "{{ cabinet_name }}";</script>
    {% endif %}
  </head>

  <body>
    <div class="team-name blue">Blue Team</div>
    <div class="team-name gold">Gold Team</div>
    <div class="team-score blue"></div>
    <div class="team-score gold"></div>
  </body>
</html>
