{% extends "base.html" %}
{% block content %}
<div class="title season-name">{{ season.name }}</div>

<div class="subtitle">Player Standings</div>
<div class="standings season-standings sortable">
  <div class="row header-row">
    <div class="cell">Player Name</div>
    <div class="cell numeric sorted-descending">Points</div>
    <div class="cell numeric">Rounds</div>
    <div class="cell numeric">Matches</div>
  </div>

  {% for result in season.player_results() %}
  <div class="row data-row">
    <div class="cell"><a href="/player/{{ result["player"].id }}">{{ result["player"].name }}</a></div>
    <div class="cell numeric">{{ "{:0.2f}".format(result["points"]) }}</div>
    <div class="cell numeric" sort-value="{{ result['rounds_won'] }}">{{ result["rounds_won"] }}-{{ result["rounds_lost"] }}</div>
    <div class="cell numeric" sort-value="{{ result['matches_won'] }}">{{ result["matches_won"] }}-{{ result["matches_lost"] }}</div>
  </div>
  {% endfor %}
</div>

<div class="subtitle">By Week</div>
<ul class="season-week-list">
  {% for event in season.event_set.filter(is_complete=True).order_by("event_date").all() %}
  <li><a href="/event/{{ event.id }}">{{ event.event_date.strftime("%B %d, %Y") }}</a></li>
  {% endfor %}
</ul>

{% if other_seasons %}
<div class="subtitle">Previous Seasons</div>
<ul class="season-week-list">
  {% for season in other_seasons %}
  <li><a href="/season/{{ season.id }}">{{ season.name }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% if tournaments %}
<div class="subtitle">Tournaments</div>
<ul class="season-week-list">
  {% for tournament in tournaments %}
  <li><a href="/tournament/{{ tournament.id }}">{{ tournament.name }}</a></li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
