{% extends "base.html" %}
{% block content %}
<div class="title player-name">{{ player.name }}</div>

<div class="subtitle">Results by Season</div>
<div class="standings player-results-by-season">
  <div class="row header-row">
    <div class="cell">Date</div>
    <div class="cell">Team Name</div>
    <div class="cell numeric">Points</div>
    <div class="cell numeric">Rounds</div>
    <div class="cell numeric">Matches</div>
  </div>

  {% for season in player.results_by_season() %}
  <div class="row subtotal-row">
    <div class="cell"><a href="/season/{{ season["season"].id }}">{{ season["season"].name }}</a></div>
    <div class="cell numeric">{{ "{:0.2f}".format(season["points"]) }}</div>
    <div class="cell numeric">{{ season["rounds_won"] }}-{{ season["rounds_lost"] }}</div>
    <div class="cell numeric">{{ season["matches_won"] }}-{{ season["matches_lost"] }}</div>
  </div>

  {% for event in season["events"] %}
  <div class="row data-row">
    <div class="cell"><a href="/event/{{ event["event"].id }}">{{ event["event"].event_date.strftime("%B %d, %Y") }}</a></div>
    {% if event["event"].is_quickplay %}
    <div class="cell"></div>
    {% else %}
    <div class="cell">{{ event["team"].name }}</div>
    {% endif %}
    <div class="cell numeric">{{ "{:0.2f}".format(event["points"]) }}</div>
    <div class="cell numeric">{{ event["rounds_won"] }}-{{ event["rounds_lost"] }}</div>
    <div class="cell numeric">{{ event["matches_won"] }}-{{ event["matches_lost"] }}</div>
  </div>
  {% endfor %}
  {% endfor %}
</div>

{% endblock %}
