{% extends "base.html" %}
{% block content %}

<div class="title tournament-name">{{ tournament.name }}</div>
<input type="hidden" name="tournament_id" value="{{ tournament.id }}" />

{% if tournament.get_active_matches() %}
<div class="subtitle">Current Matches</div>

{% for current_match in tournament.get_active_matches() %}
<div class="event-results">
  <div class="result-row current-match">
    <div class="blue result">
      <img class="blue-queen" src="/static/blue_queen.png" />
      <div class="blue team">{{ current_match.blue_team }}</div>
      <div class="blue score">{{ current_match.blue_score }}</div>
    </div>
    <div class="gold result">
      <div class="gold team">{{ current_match.gold_team }}</div>
      <div class="gold score">{{ current_match.gold_score }}</div>
      <img class="gold-queen" src="/static/gold_queen.png" />
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

<div class="subtitle">Group Standings</div>
<div class="tournament-group-standings loading"></div>

<div class="subtitle">Completed Matches</div>

{% for bracket in tournament.tournamentbracket_set.order_by("name").all() %}
{% if bracket.tournamentmatch_set.filter(is_complete=True).count() > 0 %}
<div class="event-results-header">{{ bracket.name }}</div>
<div class="event-results completed">
  {% for match in bracket.tournamentmatch_set.filter(is_complete=True).order_by("id") %}
  <a href="/tournament/match/{{ match.id }}">
    <div class="result-row complete">
      <div class="blue result{% if match.blue_score > match.gold_score %} winner{% endif %}">
        <div class="blue team">{{ match.blue_team }}</div>
        <div class="blue score">{{ match.blue_score }}</div>
      </div>
      <div class="gold result{% if match.gold_score > match.blue_score %} winner{% endif %}">
        <div class="gold team">{{ match.gold_team }}</div>
        <div class="gold score">{{ match.gold_score }}</div>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% endif %}
{% endfor %}

{% if tournament.get_available_matches() %}
<div class="subtitle">Upcoming Matches</div>

<div class="event-results remaining">
  {% for match in tournament.get_available_matches() %}
  <div class="result-row">
    <div class="blue result">
      <div class="blue team">{{ match.blue_team }}</div>
      <div class="blue score"></div>
    </div>
    <div class="gold result">
      <div class="gold team">{{ match.gold_team }}</div>
      <div class="gold score"></div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

<div class="subtitle">Tournament Brackets</div>
<ul class="tournament-brackets">
  {% for bracket in tournament.tournamentbracket_set.order_by("id").all() %}
  <li><a href="//challonge.com/{{ bracket.challonge_id }}">{{ bracket.name }}</a></li>
  {% endfor %}
</ul>

{% endblock %}
